"*":
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "log/*"
      "coverage/*"
    ]
    telemetryConsent: "no"
  editor: {}
  "exception-reporting":
    userId: "8dcf0e5c-3f81-4b83-8b90-9388fc487ee4"
  "markdown-preview":
    useGitHubStyle: true
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
