<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<true/>
	<key>last-messagetrace-stamp</key>
	<real>577232397.02890396</real>
	<key>loc</key>
	<string>en_US</string>
	<key>mineffect</key>
	<string>scale</string>
	<key>mod-count</key>
	<integer>17</integer>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1140709438</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va9wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA/AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCQAAAAEBAABpVGVybS5hcHAAAAAIAAAAAQYA
				AAQAAAAYAAAACAAAAAQDAACqAQAAAAAAAAgAAAAEAwAA
				cIsNAAAAAAAIAAAAAQYAADwAAABMAAAACAAAAAAEAABB
				wSN3goAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
				AAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFj
				aW50b3NoIEhECAAAAAQDAAAAYH8zHAAAAAgAAAAABAAA
				QcEz6VHetOMkAAAAAQEAAEEzMzc0NDhDLUU0OEMtNDQ1
				Ny1CNTRCLUYyMjRFNjFBRDk5QRgAAAABAgAAgQAAAAEA
				AADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAA
				AAEFAACxAAAAAQIAAGIyZWJiNTllNzM4MDIwZWY5YmU4
				M2RkY2Y1MGNkNDg2YjgzN2Y2NTA7MDA7MDAwMDAwMDA7
				MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAy
				MDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
				ZTswMTswMTAwMDAwNDswMDAwMDAwMDAwMGQ4YjcwOzAx
				Oy9hcHBsaWNhdGlvbnMvaXRlcm0uYXBwAAAAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAACwAAAAAAAAABRAAAFwA
				AAAAAAAAEBAAAHwAAAAAAAAAQBAAAGwAAAAAAAAAAiAA
				ACwBAAAAAAAABSAAAJwAAAAAAAAAECAAAKwAAAAAAAAA
				ESAAAOAAAAAAAAAAEiAAAMAAAAAAAAAAEyAAANAAAAAA
				AAAAICAAAAwBAAAAAAAAMCAAADgBAAAAAAAAgPAAAEAB
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.googlecode.iterm2</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/iTerm.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iTerm</string>
				<key>file-mod-date</key>
				<integer>3636226053</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>261919334031254</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1140709442</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAADAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAA
				AAgAAAABBgAABAAAABgAAAAIAAAABAMAAKoBAAAAAAAA
				CAAAAAQDAAAsiA0AAAAAAAgAAAABBgAARAAAAFQAAAAI
				AAAAAAQAAEHBKrZFAAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
				AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABgfzMcAAAA
				CAAAAAAEAABBwTPpUd604yQAAAABAQAAQTMzNzQ0OEMt
				RTQ4Qy00NDU3LUI1NEItRjIyNEU2MUFEOTlBGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAALkAAAABAgAAZjdlMThkMzUxN2Q1
				MGZmYzgwOTQyMDAxODcyMzRiZGU4NTZiODgzMDswMDsw
				MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAw
				MDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5y
				ZWFkLXdyaXRlOzAxOzAxMDAwMDA0OzAwMDAwMDAwMDAw
				ZDg4MmM7MDE7L2FwcGxpY2F0aW9ucy9nb29nbGUgY2hy
				b21lLmFwcAAAAACoAAAA/v///wEAAAAAAAAADQAAAAQQ
				AAA0AAAAAAAAAAUQAABkAAAAAAAAABAQAACEAAAAAAAA
				AEAQAAB0AAAAAAAAAAIgAAA0AQAAAAAAAAUgAACkAAAA
				AAAAABAgAAC0AAAAAAAAABEgAADoAAAAAAAAABIgAADI
				AAAAAAAAABMgAADYAAAAAAAAACAgAAAUAQAAAAAAADAg
				AABAAQAAAAAAAIDwAABIAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3637175690</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>261919334031254</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1140709440</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va9QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAA9AEAAAwAAAABAQAAQXBwbGlj
				YXRpb25zCAAAAAEBAABBdG9tLmFwcAgAAAABBgAABAAA
				ABgAAAAIAAAABAMAAKoBAAAAAAAACAAAAAQDAAAxUA0A
				AAAAAAgAAAABBgAAOAAAAEgAAAAIAAAAAAQAAEHBL3do
				AAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAA
				AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRv
				c2ggSEQIAAAABAMAAABgfzMcAAAACAAAAAAEAABBwTPp
				Ud604yQAAAABAQAAQTMzNzQ0OEMtRTQ4Qy00NDU3LUI1
				NEItRjIyNEU2MUFEOTlBGAAAAAECAACBAAAAAQAAAO8T
				AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUA
				ALAAAAABAgAAOWIxODhlMjA2ZTI2ZDNkODFiNDVjNTM4
				OGU0YzEzMmMzMzYxMGFiMjswMDswMDAwMDAwMDswMDAw
				MDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2Nv
				bS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAx
				OzAxMDAwMDA0OzAwMDAwMDAwMDAwZDUwMzE7MDE7L2Fw
				cGxpY2F0aW9ucy9hdG9tLmFwcACoAAAA/v///wEAAAAA
				AAAADQAAAAQQAAAoAAAAAAAAAAUQAABYAAAAAAAAABAQ
				AAB4AAAAAAAAAEAQAABoAAAAAAAAAAIgAAAoAQAAAAAA
				AAUgAACYAAAAAAAAABAgAACoAAAAAAAAABEgAADcAAAA
				AAAAABIgAAC8AAAAAAAAABMgAADMAAAAAAAAACAgAAAI
				AQAAAAAAADAgAAA0AQAAAAAAAIDwAAA8AQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.github.atom</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Atom.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Atom</string>
				<key>file-mod-date</key>
				<integer>3637798864</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>261919334031254</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1140709435</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va+wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAADAIAAAwAAAABAQAAQXBwbGlj
				YXRpb25zFgAAAAEBAABTeXN0ZW0gUHJlZmVyZW5jZXMu
				YXBwAAAIAAAAAQYAAAQAAAAYAAAACAAAAAQDAACqAQAA
				AAAAAAgAAAAEAwAA6RYBAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwRz+R4AAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAYH8z
				HAAAAAgAAAAABAAAQcEz6VHetOMkAAAAAQEAAEEzMzc0
				NDhDLUU0OEMtNDQ1Ny1CNTRCLUYyMjRFNjFBRDk5QRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAAC4AAAAAQIAADhmYmZkMGY5
				NTI3ZTQ3ODc2YTg5NDY5M2Y0ZmRjZDlhN2RjMTU4YTE7
				MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAw
				MDAwMDAwMDAwMDAxYTtjb20uYXBwbGUuYXBwLXNhbmRi
				b3gucmVhZDswMTswMTAwMDAwNDswMDAwMDAwMDAwMDEx
				NmU5OzA1Oy9hcHBsaWNhdGlvbnMvc3lzdGVtIHByZWZl
				cmVuY2VzLmFwcACoAAAA/v///wEAAAAAAAAADQAAAAQQ
				AAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAA
				AEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAA
				AAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADM
				AAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAg
				AABEAQAAAAAAAIHwAABMAQAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/System%20Preferences.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Preferences</string>
				<key>file-mod-date</key>
				<integer>3635377551</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>261919334031254</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1140709436</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9vazwDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAOAIAAAUAAAABAQAAVXNlcnMA
				AAAFAAAAAQEAAHJ5cGl0AAAACQAAAAEBAABEb3dubG9h
				ZHMAAAAMAAAAAQYAAAQAAAAUAAAAJAAAAAgAAAAEAwAA
				U7gKAAAAAAAIAAAABAMAANZiCwAAAAAACAAAAAQDAADl
				YgsAAAAAAAwAAAABBgAATAAAAFwAAABsAAAACAAAAAAE
				AABBvv2+kwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
				AAAAAAAAAAAACAAAAAQDAAABAAAAAAAAAAQAAAADAwAA
				9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAGB/MxwAAAAIAAAAAAQAAEHB
				M+lR3rTjJAAAAAEBAABBMzM3NDQ4Qy1FNDhDLTQ0NTct
				QjU0Qi1GMjI0RTYxQUQ5OUEYAAAAAQIAAIEAAAABAAAA
				7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
				BQAAsAAAAAECAAA0NzFmNGI4NTUxZmVlMjRkZTAwMDQ2
				OGJiOGRkNjAzZTZhY2VmMWE4OzAwOzAwMDAwMDAwOzAw
				MDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7
				Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7
				MDE7MDEwMDAwMDQ7MDAwMDAwMDAwMDBiNjJlNTswMTsv
				dXNlcnMvcnlwaXQvZG93bmxvYWRzAMwAAAD+////AQAA
				AAAAAAAQAAAABBAAADgAAAAAAAAABRAAAHwAAAAAAAAA
				EBAAAKAAAAAAAAAAQBAAAJAAAAAAAAAAAiAAAGwBAAAA
				AAAABSAAANwAAAAAAAAAECAAAOwAAAAAAAAAESAAACAB
				AAAAAAAAEiAAAAABAAAAAAAAEyAAABABAAAAAAAAICAA
				AEwBAAAAAAAAMCAAAHgBAAAAAAAAAcAAAMAAAAAAAAAA
				EcAAABQAAAAAAAAAEsAAANAAAAAAAAAAgPAAAIABAAAA
				AAAA
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/rypit/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>271638845019809</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>111724327687945</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>US</string>
	<key>show-recents</key>
	<false/>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
