<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DesktopViewSettings</key>
	<dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>54</real>
			<key>iconSize</key>
			<real>64</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>FXArrangeGroupViewBy</key>
	<string>Name</string>
	<key>FXAtLeastOneScreenHasBeenInHIDPI</key>
	<true/>
	<key>FXDesktopVolumePositions</key>
	<dict>
		<key>Macintosh HD_0x1.133e951deb5p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>63</integer>
		</dict>
	</dict>
	<key>FXEnableExtensionChangeWarning</key>
	<false/>
	<key>FXICloudDriveDeclinedUpgrade</key>
	<false/>
	<key>FXICloudDriveDesktop</key>
	<false/>
	<key>FXICloudDriveDocuments</key>
	<false/>
	<key>FXICloudDriveEnabled</key>
	<true/>
	<key>FXICloudDriveFirstSyncDownComplete</key>
	<true/>
	<key>FXICloudLoggedIn</key>
	<true/>
	<key>FXPreferencesWindow.Location</key>
	<string>{{10, 449}, {345, 318}}</string>
	<key>FXPreferredViewStyle</key>
	<string>Nlsv</string>
	<key>FXQuickActionsConfigUpgradeLevel</key>
	<integer>1</integer>
	<key>FXRecentFolders</key>
	<array>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va5ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAdAIAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAFAAAAAQEAAHJ5cGl0AAAACQAAAAEBAAAuZG90ZmlsZXMAAAAG
			AAAAAQEAAGNvbmZpZwAAEAAAAAEGAAAQAAAAIAAAADAAAABEAAAA
			CAAAAAQDAABTuAoAAAAAAAgAAAAEAwAA1mILAAAAAAAIAAAABAMA
			APHJDAAAAAAACAAAAAQDAAAyygwAAAAAABAAAAABBgAAbAAAAHwA
			AACMAAAAnAAAAAgAAAAABAAAQcEz76I9MPMYAAAAAQIAAAIAAAAA
			AAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAQDAAACAAAA
			AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
			AE1hY2ludG9zaCBIRAgAAAAEAwAAAGB/MxwAAAAIAAAAAAQAAEHB
			M+lR3rTjJAAAAAEBAABBMzM3NDQ4Qy1FNDhDLTQ0NTctQjU0Qi1G
			MjI0RTYxQUQ5OUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAALcAAAABAgAAYjdkMzE2ZmI1YjRlYmUy
			ODk4NDlkNDExMzUzYTEyMTU3ZjgwOTM1MjswMDswMDAwMDAwMDsw
			MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5h
			cHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0
			OzAwMDAwMDAwMDAwY2NhMzI7MDE7L3VzZXJzL3J5cGl0Ly5kb3Rm
			aWxlcy9jb25maWcAAOQAAAD+////AQAAAAAAAAASAAAABBAAAFQA
			AAAAAAAABRAAAKwAAAAAAAAAEBAAANQAAAAAAAAAQBAAAMQAAAAA
			AAAAAiAAAKgBAAAAAAAABSAAABgBAAAAAAAAECAAACgBAAAAAAAA
			ESAAAFwBAAAAAAAAEiAAADwBAAAAAAAAEyAAAEwBAAAAAAAAICAA
			AIgBAAAAAAAAMCAAAPQAAAAAAAAAAcAAAPwAAAAAAAAAEcAAACAA
			AAAAAAAAEsAAAAwBAAAAAAAAAdAAAPQAAAAAAAAAENAAAAQAAAAA
			AAAAgPAAALQBAAAAAAAA
			</data>
			<key>name</key>
			<string>config</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va5QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAeAIAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAFAAAAAQEAAHJ5cGl0AAAABwAAAAEBAABMaWJyYXJ5AAsAAAAB
			AQAAUHJlZmVyZW5jZXMAEAAAAAEGAAAQAAAAIAAAADAAAABAAAAA
			CAAAAAQDAABTuAoAAAAAAAgAAAAEAwAA1mILAAAAAAAIAAAABAMA
			ANdiCwAAAAAACAAAAAQDAADYYgsAAAAAABAAAAABBgAAbAAAAHwA
			AACMAAAAnAAAAAgAAAAABAAAQb79vpMAAAAYAAAAAQIAAAIAAAAA
			AAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAQDAAACAAAA
			AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
			AE1hY2ludG9zaCBIRAgAAAAEAwAAAGB/MxwAAAAIAAAAAAQAAEHB
			M+lR3rTjJAAAAAEBAABBMzM3NDQ4Qy1FNDhDLTQ0NTctQjU0Qi1G
			MjI0RTYxQUQ5OUEYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAALoAAAABAgAAODc5NDZiMGVlZjAzN2My
			ODc5NjI3Yjc0NzJhMGI5ZTAzOWRhNzIyMzswMDswMDAwMDAwMDsw
			MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5h
			cHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDA0
			OzAwMDAwMDAwMDAwYjYyZDg7MDE7L3VzZXJzL3J5cGl0L2xpYnJh
			cnkvcHJlZmVyZW5jZXMAAADkAAAA/v///wEAAAAAAAAAEgAAAAQQ
			AABUAAAAAAAAAAUQAACsAAAAAAAAABAQAADUAAAAAAAAAEAQAADE
			AAAAAAAAAAIgAACoAQAAAAAAAAUgAAAYAQAAAAAAABAgAAAoAQAA
			AAAAABEgAABcAQAAAAAAABIgAAA8AQAAAAAAABMgAABMAQAAAAAA
			ACAgAACIAQAAAAAAADAgAAD0AAAAAAAAAAHAAAD8AAAAAAAAABHA
			AAAgAAAAAAAAABLAAAAMAQAAAAAAAAHQAAD0AAAAAAAAABDQAAAE
			AAAAAAAAAIDwAAC0AQAAAAAAAA==
			</data>
			<key>name</key>
			<string>Preferences</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va1wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAQAIAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAFAAAAAQEAAHJ5cGl0AAAABwAAAAEBAABMaWJyYXJ5AAwAAAAB
			BgAAEAAAACAAAAAwAAAACAAAAAQDAABTuAoAAAAAAAgAAAAEAwAA
			1mILAAAAAAAIAAAABAMAANdiCwAAAAAADAAAAAEGAABUAAAAZAAA
			AHQAAAAIAAAAAAQAAEG+/b6TAAAAGAAAAAECAAACAAAAAAAAAA8A
			AAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAQAAAAAAAAAE
			AAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
			bnRvc2ggSEQIAAAABAMAAABgfzMcAAAACAAAAAAEAABBwTPpUd60
			4yQAAAABAQAAQTMzNzQ0OEMtRTQ4Qy00NDU3LUI1NEItRjIyNEU2
			MUFEOTlBGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
			AAAAAQEAAC8AAACuAAAAAQIAADg0YjM0NTRiNThhYzAzZDQwYTJi
			Mjk1YjdiYmYzMDI4ZmI4OWU1MTU7MDA7MDAwMDAwMDA7MDAwMDAw
			MDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUu
			YXBwLXNhbmRib3gucmVhZC13cml0ZTswMTswMTAwMDAwNDswMDAw
			MDAwMDAwMGI2MmQ3OzAxOy91c2Vycy9yeXBpdC9saWJyYXJ5AAAA
			5AAAAP7///8BAAAAAAAAABIAAAAEEAAAQAAAAAAAAAAFEAAAhAAA
			AAAAAAAQEAAAqAAAAAAAAABAEAAAmAAAAAAAAAACIAAAfAEAAAAA
			AAAFIAAA7AAAAAAAAAAQIAAA/AAAAAAAAAARIAAAMAEAAAAAAAAS
			IAAAEAEAAAAAAAATIAAAIAEAAAAAAAAgIAAAXAEAAAAAAAAwIAAA
			yAAAAAAAAAABwAAA0AAAAAAAAAARwAAAIAAAAAAAAAASwAAA4AAA
			AAAAAAAB0AAAyAAAAAAAAAAQ0AAABAAAAAAAAACA8AAAiAEAAAAA
			AAA=
			</data>
			<key>name</key>
			<string>Library</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va0gEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAUAMAAAQAAAADAwAAAAIAAAYAAAABAQAAU3lzdGVt
			AAAHAAAAAQEAAExpYnJhcnkADAAAAAEBAABDb3JlU2VydmljZXMK
			AAAAAQEAAEZpbmRlci5hcHAAAAgAAAABAQAAQ29udGVudHMJAAAA
			AQEAAFJlc291cmNlcwAAAAsAAAABAQAATXlMaWJyYXJpZXMAGAAA
			AAEBAABteURvY3VtZW50cy5jYW5uZWRTZWFyY2ggAAAAAQYAABAA
			AAAgAAAAMAAAAEQAAABYAAAAaAAAAHwAAACQAAAACAAAAAQDAAAm
			MwIAAAAAAAgAAAAEAwAAKDMCAAAAAAAIAAAABAMAAJyTAwAAAAAA
			CAAAAAQDAAD8DwQAAAAAAAgAAAAEAwAA/Q8EAAAAAAAIAAAABAMA
			AL8TBAAAAAAACAAAAAQDAAC+FgQAAAAAAAgAAAAEAwAAvxYEAAAA
			AAAgAAAAAQYAANgAAADoAAAA+AAAAAgBAAAYAQAAKAEAADgBAABI
			AQAACAAAAAAEAABBwRQGxAAAABgAAAABAgAAAgAAAAAAAAAPAAAA
			AAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
			AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABgfzMcAAAACAAAAAAE
			AABBwTPpUd604yQAAAABAQAAQTMzNzQ0OEMtRTQ4Qy00NDU3LUI1
			NEItRjIyNEU2MUFEOTlBGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
			AAAAAAAAAAABAAAAAQEAAC8AAADzAAAAAQIAADgwNTVkZGJlODE2
			MGMxZWZkZjgzNDFlNGMzZjY2MDIzZjdmZTM2NDA7MDA7MDAwMDAw
			MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAwMDAwMDAwMDAxYTtj
			b20uYXBwbGUuYXBwLXNhbmRib3gucmVhZDswMTswMTAwMDAwNDsw
			MDAwMDAwMDAwMDQxNmJmOzA1Oy9zeXN0ZW0vbGlicmFyeS9jb3Jl
			c2VydmljZXMvZmluZGVyLmFwcC9jb250ZW50cy9yZXNvdXJjZXMv
			bXlsaWJyYXJpZXMvbXlkb2N1bWVudHMuY2FubmVkc2VhcmNoAADA
			AAAA/v///wEAAAAAAAAADwAAAAQQAACwAAAAAAAAAAUQAABYAQAA
			AAAAABAQAACQAQAAAAAAAEAQAACAAQAAAAAAAAIgAABIAgAAAAAA
			AAUgAAC4AQAAAAAAABAgAADIAQAAAAAAABEgAAD8AQAAAAAAABIg
			AADcAQAAAAAAABMgAADsAQAAAAAAACAgAAAoAgAAAAAAADAgAACw
			AQAAAAAAAAHQAACwAQAAAAAAABDQAAAEAAAAAAAAAIHwAABUAgAA
			AAAAAA==
			</data>
			<key>name</key>
			<string>Recents</string>
		</dict>
	</array>
	<key>FXRemoveOldTrashItems</key>
	<true/>
	<key>FXSidebarUpgradedToTenFourteen</key>
	<true/>
	<key>FXSidebarUpgradedToTenTen</key>
	<true/>
	<key>FXToolbarUpgradedToTenEight</key>
	<integer>1</integer>
	<key>FXToolbarUpgradedToTenNine</key>
	<integer>2</integer>
	<key>FXToolbarUpgradedToTenSeven</key>
	<integer>1</integer>
	<key>FavoriteTagNames</key>
	<array>
		<string></string>
		<string>Red</string>
		<string>Orange</string>
		<string>Yellow</string>
		<string>Green</string>
		<string>Blue</string>
		<string>Purple</string>
		<string>Gray</string>
	</array>
	<key>LastTrashState</key>
	<true/>
	<key>NewWindowTarget</key>
	<string>PfHm</string>
	<key>NewWindowTargetPath</key>
	<string>file:///Users/rypit/</string>
	<key>PreferencesWindow.LastSelection</key>
	<string>GNRL</string>
	<key>RecentsArrangeGroupViewBy</key>
	<string>Date Last Opened</string>
	<key>ShowExternalHardDrivesOnDesktop</key>
	<true/>
	<key>ShowHardDrivesOnDesktop</key>
	<false/>
	<key>ShowRecentTags</key>
	<false/>
	<key>ShowRemovableMediaOnDesktop</key>
	<false/>
	<key>ShowSidebar</key>
	<true/>
	<key>SidebarDevicesSectionDisclosedState</key>
	<true/>
	<key>SidebarPlacesSectionDisclosedState</key>
	<true/>
	<key>SidebarShowingSignedIntoiCloud</key>
	<true/>
	<key>SidebarShowingiCloudDesktop</key>
	<false/>
	<key>SidebarWidth</key>
	<real>137</real>
	<key>SidebariCloudDriveSectionDisclosedState</key>
	<true/>
	<key>StandardViewSettings</key>
	<dict>
		<key>ExtendedListViewSettingsV2</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>12</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>GalleryViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>name</string>
			<key>iconSize</key>
			<real>48</real>
			<key>showIconPreview</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>54</real>
			<key>iconSize</key>
			<real>64</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>12</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>SettingsType</key>
		<string>StandardViewSettings</string>
	</dict>
	<key>TagsCloudSerialNumber</key>
	<integer>4</integer>
	<key>WarnOnEmptyTrash</key>
	<false/>
</dict>
</plist>
